.view-container {
  position: relative;
  background: white;
  padding-top: 50px;
    
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sec2 {
  background: blue;
  position: relative;
}

.view-frame.ng-enter {
  -webkit-animation: 5.0s fade-in;
  -moz-animation: 5.0s fade-in;
  -o-animation: 5.0s fade-in;
  animation: 5.0s fade-in;
  z-index: 99;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}


.view-slide-in.ng-enter {
  transition: all 2s ease;
  -webkit-transition:all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
   
  opacity:0.5;
  position:relative;
  opacity:0;
  left:50px;
}

.view-slide-in.ng-leave{
  transition: all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  top:0;
  position:relative;
  opacity:0.5;
}

.view-slide-in.ng-enter {
  opacity: 0;
}

.view-slide-in.ng-leave{
  opacity:1;
}

.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:0;
  left:0;
  opacity:0;
}



.menu {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 1em .5em;
    list-style: none;
    display: inline-block;
    background-color: #fc9;
}

.ice-background {
  position: relative;
  background: url("../image/ice.jpg") no-repeat fixed center;
}

@font-face {
    font-family: milton;
    src: url("../fonts/milton/Milton Keynes Regular.ttf");
}

@font-face {
    font-family: quarca;
    src: url("../fonts/quarca/QuarcaNormRegular.otf");
}

@font-face {
    font-family: bowhouse;
    src: url("../fonts/bowhouse/Bowhouse-Regular.otf");
}

.nav {
  height: 40px;
  background: #585858 ;
    position: fixed;
    z-index: 1;
    width: 100%;
    font-family: milton;
    font-size: 150%
}

.nav ul a{
  display: block;
  padding: 5px 20px;
  float: left;
  color: #D8D8D8;
}

.nav ul a:hover{
  background-color: #282828 ;
  text-decoration: none;
}

.headerbreak{
  width: 100%;
  height: 1px;
  border-bottom: 2px solid LightCyan;
}

.peSecion{
    background-color:darkslategrey;
    width: 100%;
    height: 300px;
    padding: 30px;
    font-family: milton; 
    color:white;
}

.eySecion{
    width: 100%;
    height: 300px;
    padding: 30px;
    font-family: milton; 
    color:darkslategray;
}

.eySecion h1{
    font-family: milton; 
    
}

.peSecion h1{
    font-family: milton; 
    
}

#left{
    float: left;
    width: 40%;
}

#right{
    float: right;
    width: 40%;
    font-size: 900%;
}

#right2{
    float: right;
    width: 40%;
}

#left2{
    float: left;
    width: 40%;
    font-size: 900%;
}

.radarSection{
    padding-left: 50px;
    
}
body{
 font-family: milton;   
}