<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="stockApp">
    <head>
      <title>Key Ratios</title>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
      <script src="../bower_components/jquery/dist/jquery.js"></script>
      <script src="../bower_components/angular/angular.min.js"></script>
      <script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
      <script src="../script.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    </head>
    <body>
      <div ng-controller="ratioCtrl" style="width: 100%;">
        <div>
          <input type="text" placeholder="stock pick" ng-model="inputText" ng-keypress="search($event)"></input>
          <button ng-click="getLinks()">Search</button>
          <p>{{ stockInput }}</p>
          <p>{{ test }}</p>
          <p ng-show="quoteVisibility" class="view-frame">
              <li>SYMBOL: {{ symbol }}</li>
              <li>LINK : {{ industry }}</li>
              <li>STATS: {{ stats }}</li>
              <li>PE: {{ peRatio }}</li>
              <li>INDUSTRYPE: {{ averagePE }}</li>
              <li>MARGIN: {{ margin }}</li>
              <li>INDUSTRYMARGIN: {{ averageMargin }}</li>
              <li>ROA: {{ roa }}</li>
              <li>INDUSTRYROA: {{ averageRoa }}</li>
          </p>
          <canvas id="radar" class="chart chart-radar" data="ChartData" labels="corners"></canvas>
        </div>
      </div>
    </body>
    </html>